<!DOCTYPE html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script type="text/javascript" async src="https://www.googletagmanager.com/gtag/js?id=UA-150389922-1"></script>


<!-- 

//google ad start -->


<!-- 
//google ad end -->

<!--pixel code-->
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '696702907369810');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=696702907369810&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->



    <meta name=viewport content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name=description content="FileMakr - The #1 Online Major & Minor Project file Generator! we've helped students owners create easy-to-read, highly effective, custom project files."/>
    <meta name="abstract" content="FileMakr - The #1 Online Major & Minor Project file Generator! we've helped students owners create easy-to-read, highly effective, custom project files."/>
    
    <meta name=robots content="all,follow"/>
    <meta name=googlebot content="index, follow"/>
    <meta name=classification content="FileMakr - The #1 Online Major & Minor Project file Generator! we've helped students owners create easy-to-read, highly effective, custom project files."/>
    <link rel="shortcut icon" type="images/x-icon" href="/images/filemakr-project-file-creator-favicon.png" style="width:80px;" />
    <meta name=distribution content=Global />
    <meta name=author content="http://www.filemakr.com"/>
    <meta name=Language content=English />
    <meta name=rating content=general />
    <meta name=owner content=FileMakr />
    <meta http-equiv=refresh content=300>
    <meta name=document-type content=public />
    <meta name=revisit-after content=daily />
    <meta name=country content=India />
    <meta name=DC.title content="FileMakr - The #1 Online Major & Minor Project file Generator! we've helped students owners create easy-to-read, highly effective, custom project files."/>
    <meta property=og:title content="FileMakr - The #1 Online Major & Minor Project file Generator! we've helped students owners create easy-to-read, highly effective, custom project files."/>
    <meta property=og:type content="FileMakr - The #1 Online Major & Minor Project file Generator! we've helped students owners create easy-to-read, highly effective, custom project files."/>
    <meta property=og:url content="http://www.filemakr.com"/>
    <meta property=og:image content="http://www.filemakr.com/images/filemakr-project-file-creator-favicon.png" style="width:80px;"/>
    <meta property=og:site_name content="http://www.filemakr.com"/>
    <meta property=og:description content="FileMakr - The #1 Online Major & Minor Project file Generator! we've helped students owners create easy-to-read, highly effective, custom project files."/>
    <meta property=og:locale content="en IN"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="width"/>
    <meta property="og:site_name" content="Filemakr"/>
    <meta property="og:phone_number" content="+91-8319339945"/>
    <meta property="og:email" content="filemakr@gmail.com"/>
    <meta property="og:country-name" content="India"/>
    <meta property="og:description" content="FileMakr - The #1 Online Major & Minor Project file Generator! we've helped students owners create easy-to-read, highly effective, custom project files."/>
   <link rel=canonical href="https://www.filemakr.com">
    <title>The #1 Online Major & Minor Project file Generator! — Filemakr</title>


    <script type='application/ld+json'> 
      {
        "@context": "http://www.schema.org",
        "@type": "Organization",
        "name": "Filemakr",
        "url": "https://www.filemakr.com/",
        "logo": "https://filemakr.com/images/filemakr-project-file-creator-favicon.png",
        "image": "https://filemakr.com/images/filemakr-project-file-creator-favicon.png",
        "description": "FileMakr - The #1 Online Major & Minor Project file Generator! we've helped students owners create easy-to-read, highly effective, custom project files.",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Lohiya Bazar , Morena ( M.P. )",
          "addressLocality": "Morena",
          "addressRegion": "Madhya Pradesh",
          "postalCode": "476001",
          "addressCountry": "India"
        },
        "hasMap": "https://maps.google.com/maps?cid=11640350780477821709",
      "openingHoursSpecification": {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "opens": "00:00",
          "closes": "23:59"
        },
        "sameAs": [
          "https://www.facebook.com/FileMakr",
          "https://twitter.com/FileMakr",
          "instagram.com/filemakr/",
          "https://www.filemakr.com"
        ]
      },
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+918319339945",
          "contactType": "general"
        }
      }
       </script>

  <!-- Favicons -->
  <link href="/images/filemakr-project-file-creator-favicon.png" rel="icon">
 
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/a/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" async>

  <!-- /a/libraries CSS Files -->
  <link href="/all.css" rel="preload" as="style" async>
  <link href="/a/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" async>
  <link href="/a/lib/ionicons/css/ionicons.min.css" rel="preload" as="style" async>
  <link href="/a/lib/lightbox/css/lightbox.min.css" rel="preload" as="style" async>

  <!-- Main Stylesheet File -->
  <link href="/a/css/style.css" rel="stylesheet" async>


<style type="text/css">
 

h1, h2, h3, h4, h5, h6 {
  color:#0b0861;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.heading {
    margin-top: 0px;
}
.separator {
    position: relative;
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.separator:after,
.separator:before {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background: #0b0861;
    top: 50%;
}

.separator i {
    color: #0b0861;
}

.separator:after {
    right: 140%;
}

.separator:before {
    left: 140%;
}

.amazing_feature {
padding-top:80px;
padding-bottom:50px;
}

.single_feature{
background: #fff none repeat scroll 0 0;
box-shadow:0 2px 30px rgba(0, 0, 0, 0.1);
margin-bottom: 30px;
padding: 40px 40px;
  /* display: inline-block; */
  /* vertical-align: middle; */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.single_feature:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0b0861;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* .single_feature:hover, .single_feature:focus, .single_feature:active {
  color: white;
} */
/* .single_feature:hover:before, .single_feature:focus:before, .single_feature:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
} */
.feature_icon{}
.single_feature i {
  border: 1px solid #e8e8e9;
  border-radius: 50%;
  color: #333;
  float: left;
  font-size: 20px;
  height: 60px;
  line-height: 60px;
  margin-right: 15px;
  position: relative;
  text-align: center;
  transition: all 0.3s ease 0s;
  width: 60px;
  z-index: 3;
  margin-top: 25px;
}

.single_feature h3 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight:400;
  margin-top:0px;
  overflow: hidden;
}
/* .single_feature:hover h3{color:#fff;} */
.single_feature span {
border-bottom: 1px dashed #ccc;
display: block;
margin: 15px auto 10px;
width: 80px;
}
.single_feature p { margin-bottom: 0 ;overflow: hidden;}


</style>

  
<style type="text/css">



.pos-r {
    position: relative;
}
section{padding: 80px 0;}
.section-title{margin-bottom:50px; position: relative;}
.section-title p{font-size: 16px;}
.title-effect {width: 50px; height: 50px; top: 0; position: absolute; left: 0; opacity: 0.5; animation: rotation 12.8s steps(1) 0s infinite;}
.text-center .title-effect{left: 50%; margin-left: -25px;}
.text-center .section-title h6{padding: 15px 0;}

.title-effect .bar {background: #2575fc;}
.title-effect .bar-top {width: 100%; height: 7px; position: absolute; top: 0; left: 0; transform-origin: left top; transform: scale(0, 1); animation: bar-top 3.2s linear 0s infinite;}
.title-effect .bar-right {width: 7px; height: 100%; position: absolute; top: 0; right: 0; transform-origin: left top; transform: scale(1, 0); animation: bar-right 3.2s linear 0s infinite;}
.title-effect .bar-bottom {width: 100%; height: 7px; position: absolute; right: 0; bottom: 0; transform-origin: right top; transform: scale(0, 1); animation: bar-bottom 3.2s linear 0s infinite;}
.title-effect .bar-left {width: 7px; height: 100%; position: absolute; left: 0; bottom: 0; transform-origin: left bottom; transform: scale(1, 0); animation: bar-left 3.2s linear 0s infinite;}

.title {position: relative; color: #1c1d3e; margin-bottom: 0;}
.section-title h2{margin-bottom: 15px;}

/* ------------------------
    How It Work
------------------------*/
.work-process{position: relative;}
.step-num {background: #fff; border-radius: 50%; box-shadow: 0 12px 20px 0 rgba(117, 178, 240, 0.4); color: #005bea; display: inline-block; font-size: 18px; font-weight: 600; height: 50px; right: 0; line-height: 55px; position: absolute; text-align: center; top: 0; width: 50px;}
.theme-bg .work-process h4, .theme-bg .work-process p{color: #ffffff;}
.step-icon {background: #ffffff; width:140px; height:140px; position: relative; border: 3px solid #fafaff; border-radius: 50%; line-height: 140px; font-size: 40px; text-align: center; color: #1c1d3e;}
.step-icon span {position: relative;}
.step-icon span::after, .step-icon span::before {border-radius: 50%; content: ""; height: 40px; position: absolute; width: 40px; z-index: -1;}
.step-icon span::after {background: #cdf3f6; height: 25px; left: -10px; top: 5px; width: 25px;}
.step-icon span::before {background: #d4f8e6; bottom: 0; right: -10px;}
.dark-bg .step-icon{color: rgba(255,255,255,0.9); background: none;}
.dark-bg .step-desc h4{color: #2575fc;}
.dark-bg .step-icon{border-color: rgba(255,255,255,0.1);}
.dark-bg .step-desc p{color: rgba(255,255,255,0.7);}
.step-num-box{position: relative; display: inline-block; margin-bottom: 20px;}
.work-process .box-loader{position: absolute; top: 30%; right: -15%; left: inherit;}
.work-process.style-2 {padding: 0; display: flex; align-items: center;}
.work-process.style-2:before{display: none;}
.work-process.style-2 .step-num-box {margin-bottom: 0; margin-right: 30px;}
.work-process.style-3 {padding: 70px 30px 0;}
.work-process.style-3 .step-num {background: none; box-shadow: none; color: rgba(255, 255, 255, 0.1); font-size: 120px; height: auto; left: 50%; line-height: 120px; margin-bottom: 0; position: absolute; top: 0; transform: translateX(-50%); width: auto;}
#svg-container {position: absolute; width: 100%; left: 52%;  z-index: -1; transform: translateX(-50%); width: 75%;}
#svgC {margin: 0 auto; width: 100%;}


/* ------------------------
    box-loader
------------------------*/
.box-loader {border-radius: 100%; margin: 0 auto; position: absolute; top: 15px; left: 15px;}
.box-loader span{display: inline-block; width: 10px; height: 10px; border-radius: 100%; background: #2575fc; margin: 0 5px; opacity: 0;}
.box-loader span:nth-child(1){animation: opacitychange 1s ease-in-out infinite;}
.box-loader span:nth-child(2){animation: opacitychange 1s ease-in-out 0.33s infinite;}
.box-loader span:nth-child(3){animation: opacitychange 1s ease-in-out 0.66s infinite;}


/*--rotation--*/

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bar-top {
  0% {
    transform: scale(0, 1);
  }
  12.5% {
    transform: scale(1, 1);
  }
  87.5% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 1);
  }
}
@keyframes bar-right {
  0% {
    transform: scale(1, 0);
  }
  12.5% {
    transform: scale(1, 0);
  }
  25% {
    transform: scale(1, 1);
  }
  75% {
    transform: scale(1, 1);
  }
  87.5% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 0);
  }
}
@keyframes bar-bottom {
  0% {
    transform: scale(0, 1);
  }
  25% {
    transform: scale(0, 1);
  }
  37.5% {
    transform: scale(1, 1);
  }
  62.5% {
    transform: scale(1, 1);
  }
  75% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(0, 1);
  }
}
@keyframes bar-left {
  0% {
    transform: scale(1, 0);
  }
  37.5% {
    transform: scale(1, 0);
  }
  50% {
    transform: scale(1, 1);
  }
  62.5% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 0);
  }
}

/*--opacitychange--*/

@keyframes opacitychange{
  0%, 100%{
    opacity: 0;
  }

  60%{
    opacity: 1;
  }
}

/* responsive */
@media (max-width: 1200px){
  #svg-container { width: 85%; }
}
@media (max-width: 992px){
  .md-mt-5 { margin-top: 50px !important; }
  /*Step*/
  .work-process .box-loader{display: none;}
  .step-desc p {max-width: 300px;  margin: 0 auto;}
  #svg-container {width: 100%; transform: rotate(90deg); left: 0; top: 50%;}
}
</style>



<style>


    /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .evaluation {display: none;}
  #calculation {display: none;}
  .main-nav {display: none;}
  #footer{display:none;}
  .question{  height: 200%;
  background: white;}
  .answer{display: inline-block;}
  .mobile-nav-toggle {display: none;}

  /* .question{display: none;} */

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #mobile-calculation {display: none;}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #mobile-calculation {display: none;}

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #mobile-calculation {display: none;}

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #mobile-calculation {display: none;}
}
</style>

</head>

<body>


    <div id="calculation">



    <%- include ('./navbar.ejs') %>

  
  <!--==========================
    Intro Section
  ============================-->


  <main id="main">





    




 <!--==========================
      Services Section
    ============================-->
   


    <section id="pricing" class="wow fadeInUp section-bg" style="margin-top:150px">

        <div class="container">
  
        
  
          <div class="row flex-items-xs-middle flex-items-xs-center">
        
            <!-- Basic Plan  -->
            <div class="col-xs-12 col-lg-8 question">
              <div class="card">
                <div class="card-block">
                  <h4 class="card-title" style="color:black;font-weight: bold"> 
                    Age of your device ?
                  </h4>

                    <a href="/physical_condition?age=age"><button type="button" class="btn btn-success answer" style="background-color: #FAFAFA;color: black;width: 150px;">Less than 1 year (in warranty)</button></a>
                    <a href="/physical_condition?age=age1"><button type="button" class="btn btn-danger answer" style="background-color: #FAFAFA;color: black;width: 150px;">Between 1 and 3 years</button></a>
                    <a href="/physical_condition?age=age2"><button type="button" class="btn btn-danger answer" style="background-color: #FAFAFA;color: black;width: 150px;">More than 3 years</button></a>
                
                
                </div>
              </div>
            </div>
        
            <!-- Regular Plan  -->
            <div class="col-xs-12 col-lg-4 evaluation">
              <div class="card">
                <div class="card-block">
                
                
                  <img src="https://lapify.in/images/<%=result[0].image%>" style="width: 100px;">
                  <a href="#contact" class="btn"><%=result[0].name%></a>

<hr/>

<p>Device Evaluation</p>

<p class="text-left" style="margin-left: 10px;">Does the Laptop Switch ON?</p>
<!-- <li style="margin-top: -15px;">djhg</li> -->
<p class="text-left" style="margin-left: 30px;margin-top: -25px;color: #F39B23;"><%=switchon%></p>


<p class="text-left" style="margin-left: 10px;">System Configuration</p>
<!-- <li style="margin-top: -15px;">djhg</li> -->
<p class="text-left" style="margin-left: 30px;margin-top: -25px;color: #F39B23;"><%=result[0].processorvalue%></p>
<p class="text-left" style="margin-left: 30px;margin-top: -25px;color: #F39B23;"><%=result[0].ramvalue%></p>
<p class="text-left" style="margin-left: 30px;margin-top: -25px;color: #F39B23;"><%=result[0].harddiskvalue%></p>


<p class="text-left" style="margin-left: 10px;">Additional Features</p>
<!-- <li style="margin-top: -15px;">djhg</li> -->
<p class="text-left" style="margin-left: 30px;margin-top: -25px;color: #F39B23;"><%=screen_size%></p>
<p class="text-left" style="margin-left: 30px;margin-top: -25px;color: #F39B23;"><%=graphics_card%></p>


<% if(issue.length>0) { %>

<p class="text-left" style="margin-left: 10px;">Functional Condition</p>


<% } %>
<!-- <li style="margin-top: -15px;">djhg</li> -->


  <% for(i=0;i<issue.length;i++) { %>

    <% if(issue[i] == 'scree_not_working'){ %>
<p class="text-left" style="margin-left: 30px;margin-top: -25px;color: #F39B23;">Screen Not Working / Discloration / blurr / line / blackness / Dots</p>
       <% } %>

       <% if(issue[i] == 'keyboard_not_working'){ %>
        <p class="text-left" style="margin-left: 30px;margin-top: -25px;color: #F39B23;">Keyboard Not Working / key missing / Faulty</p>
               <% } %>


               <% if(issue[i] == 'touchpad_not_working'){ %>
                <p class="text-left" style="margin-left: 30px;margin-top: -25px;color: #F39B23;">Touchpad not working / left/right click faulty</p>
                       <% } %>



                       <% if(issue[i] == 'battery_dead'){ %>
                        <p class="text-left" style="margin-left: 30px;margin-top: -25px;color: #F39B23;">Battery Dead / Low Backup / Consider Replacing Alert /  Low Backup < 45 min</p>
                               <% } %>



                               <% if(issue[i] == 'speaker_not_working'){ %>
                                <p class="text-left" style="margin-left: 30px;margin-top: -25px;color: #F39B23;">Speaker not working / faulty / cracked sound</p>
                                       <% } %>


                                       <% if(issue[i] == 'wifi_not_working'){ %>
                                        <p class="text-left" style="margin-left: 30px;margin-top: -25px;color: #F39B23;">WIFI not working</p>
                                               <% } %>


                                               <% if(issue[i] == 'wire_cut'){ %>
                                                <p class="text-left" style="margin-left: 30px;margin-top: -25px;color: #F39B23;">Charger Faulty / wire cut / Adaptor Damaged</p>
                                                       <% } %>


                                                       <% if(issue[i] == 'webcam_not_working'){ %>
                                                        <p class="text-left" style="margin-left: 30px;margin-top: -25px;color: #F39B23;">Webcam not working / Blurr</p>
                                                               <% } %>




    <% } %>

                </div>
              </div>
            </div>
        
            <!-- Premium Plan  -->
           
        
          </div>
        </div>
  
      </section><!-- #pricing -->



   

  


 

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


    
</div>





<div id='mobile-calculation'>

    <div id="mobileheader" style="height: 50px;background-color: #f2aa4cff;">

        <p style="padding: 18px;">&larr; Device Evaluation</p>

    </div>
    <h4 style="padding:30px;">Age of your device</h4>
    <a href="/configuration?switchon=yes"><input type="radio"  style="margin: 20px; background-color: red;">Less than 1 year (in warranty)</button></a><br>
    <a href="/configuration?switchon=no"><input type="radio" class="btn btn-primary" style="margin: 20px; display: inline-block;">Between 1 and 3 years</button></a>
    <a href="/configuration?switchon=no"><input type="radio" class="btn btn-primary" style="margin: 20px; display: inline-block;">More than 3 years</button></a>



</div>
  
</body>

<%- include ('./footer.ejs') %>

</html>
