<%- include ('./adminheader.ejs') %>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-12 col-md-12 col-lg-12">
             
              
                <div class="table-responsive" style="margin-top: 20px;">

     
                    <table id="report-table" class="table table-bordered table-striped mb-0">
                    <thead>
                    <tr>
                    
                    <th>Name</th>
                    <th>Number</th>
                    <th>Address</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Pincode</th>
                    <th>Commisssion Wallet</th>
                    <th>Virtual Wallet</th>
                    <th>Agent List</th>
                    <th>Enquiry List</th>
                    <th>Block/Unblock</th>



                 
                    </tr>
                    </thead>
                    <tbody>
                    


                        <% for(i=0;i<result.length;i++){ %>
                    
                          <tr>
                    <td><a href='/admin/vendor/personal-details?id=<%=result[i].id%>'><%=result[i].name%></a></td>
                    <td><%=result[i].number%></td>
                    <td><%=result[i].address%></td>
                    <td><%=result[i].state%></td>
                    <td><%=result[i].city%></td>
                    <td><%=result[i].pincode%></td>
                    <td><%=result[i].commission_wallet%></td>
                    <td><%=result[i].virtual_wallet%></td>
                    <td><a href="/admin/vendor/agent?number=<%=result[i].number%>"><button type="button" class="btn btn-primary">View List</button></a></td>
                    <td><a href="/admin/vendor/enquiry?number=<%=result[i].number%>"><button type="button" class="btn btn-success">View List</button></a></td>

                    <% if(result[i].blockstatus == '' || result[i].blockstatus == [] || result[i].blockstatus == null || result[i].blockstatus == 'null' || result[i].blockstatus == 'unblock') { %>
                      <td><a href="/admin/update/vendor?id=<%=result[i].id%>&status=block"><button type="button" class="btn btn-danger">Block</button></a></td>

                      <% } else {  %>
                          <td><a href="/admin/update/vendor?id=<%=result[i].id%>&status=unblock"><button type="button" class="btn btn-dark">Unblock</button></a></td>

                      <% } %>
                 
                    </tr>


                     <% } %>

                    </tbody>
                    </table>
                    </div>



    
    
    
   
            
              </div>
             
            </div>
          </div>
        </section>
        <div class="settingSidebar">
          <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
          </a>
       
        </div>
      </div>
      
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="/light/assets/js/app.min.js"></script>   
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
  <script src="/light/assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="/light/assets/js/custom.js"></script>


  <script src="/javascripts/users.js"></script>

  
  <script>
    $('.update_status').change(function(){
      const id  = $(this).attr('id');
      alert(id)
  
    })
  
  
    $('.assign').click(function(){
      let assigned_number = $('#delivery_boy').val();
      let id = $(this).attr('id')
  
      // alert(assigned_number)
  
  if(assigned_number==null || assigned_number == 'null'){
    alert('Select Delivery Boy')
  }
  else{
    $.post('/api/enquiry/update/status',{id,assigned_number},data=>{
        window.location.reload();
      })
  
  }
  
    
  
    })
  
  
  
  
  
  
  
  
  
  
    $.getJSON(`/delivery/all`, data => {
      categories1 = data
      fillDropDown('delivery_boy', data, 'Select Mechanic ', 0)
    
  })
  
  
  function fillDropDown(id, data, label, selectedid = 0) {
      $(`#${id}`).empty()
      $(`#${id}`).append($('<option>').val("null").text(label))
  
      $.each(data, (i, item) => {
          if (item.id == selectedid) {
              $(`#${id}`).append($('<option selected>').val(item.number).text(item.name))
          } else {
              $(`#${id}`).append($('<option>').val(item.number).text(item.name))
          }
      })
  }
  












  
  
  
  </script>

</body>


</html>